<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                {% for item in header_list %}
                    <th>{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for data_obj in data_obj_list %}
            <tr>
                {% for data_obj_attr in data_obj %}
                    <td>{{ data_obj_attr }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>